{{ define "main" }}

<header class="grid-layout-centered">

  <div class="header-left">
    <a href="../.."><i>Home</i></a>
  </div>

  <div class="header-right">
    {{ partial "links/link-email.html" }}
    {{ partial "links/link-github.html" }}
  </div>

</header>

<section class="standalone-wide">

    {{ if .Content }}
        {{ partial "content-parsed.html" . }}
    {{ end }}

    <hr>

    <div class="gallery">

      {{ range sort .Pages ".File.BaseFileName" "desc" }}

        <article class="gallery-card" style="--count: {{ len .Params.images }}">

          <div class="gallery-image-row">
            {{ range .Params.images }}
              <img src="{{ . }}" alt="">
            {{ end }}
          </div>

          <div class="gallery-description">
            {{ partial "content-parsed.html" . }}
          </div>

        </article>

      {{ end }}

</section>

{{ end }}