{{ $items := slice }}

{{ range .Pages }}
    {{ $created := time .Params.created }}
    {{ $updated := time (index .Params "last updated") }}

    {{ $date := $created }}
    {{ if and $updated (gt (time $updated) $date) }}
        {{ $date = time $updated }}
    {{ end }}

    {{ $items = $items | append (dict
        "page" .
        "date" $date
    ) }}
{{ end }}

<aside class="feed">
    <hr>
    <ul>
        {{ range sort $items "date" "desc" }}
        <li>
            {{ $p := .page }}
            <a href="{{ $p.RelPermalink }}">{{ $p.LinkTitle }}</a>
            <i>({{ .date.Format "02 Jan 2006" }})</i>
        </li>
        {{ end }}
    </ul>
</aside>