<nav class="sitemap">
    <a href="/portfolio">Portfolio</a>
    <p>An overview of most of my game projects.</p>

    <a href="/notebook">Notebook</a>
    <p>I write a lot of notes. <i>Some</i> of them might even be decipherable to others. I guess this could be described as another "public learning" experiment.</p>

    <a href="/gallery">Gallery</a>
    <p>WIP. Intended as a feed for me to post misc. content, photogrpahy, finds, etc.</p>

    <!--<a href="/finds">Fresh finds</a>
    <p>This is where I collect fresh finds.</p>-->

    <a href="/canon">Canon</a>
    <p>Also WIP, but a fun little <a href="https://slashpages.net/#canon" target="_blank" rel="noopener noreferrer" class="external">slashpage</a> I wanted to implement.</p>

    <!--<a href="/books">Books</a>
    <p>Lorem ipsum dolor sit Quis nostrud exercitation, adipiscing elit, sed do eiusmod.</p>

    <a href="/vinyls">Vinyls</a>
    <p>Lorem ipsum dolor amet, consectetur adipiscing elit, sed do eiusmod.</p>

    <hr>-->

    <hr>

    <a href="/guestbook">Guestbook</a>
    <p>Bringing the small web back. Feel free to leave a comment.</p>

    <a href="/chat">Chat</a>
    <p>Another classic. Live chat with anyone as bored as you.</p>

    <a href="/support" class="support-link">Support</a>
    <p>Overview and links for supporting me.</p>

    <hr>

    <a href="/colophon">Colophon</a>
    <p>About how this website is built.</p>
</nav>