<nav class="sitemap">
    <a href="/portfolio">Portfolio</a>
    <p>More complete, less curated than the alibo. Quis nostrud exercitation ullamco laboris.</p>

    <a href="/notebook">Notebook</a>
    <p>Quis nostrud exercitation ullamco laboris nisi ut I collect fresh finds. Excepteur sint occaecat cupidatat non proident.</p>

    <a href="/gallery">Gallery</a>
    <p>More complete, less curated than the alibo. Quis nostrud exercitation ullamco laboris.</p>

    <!--<a href="/finds">Fresh finds</a>-->
    <p>This is where I collect fresh finds.</p>

    <a href="/canon">Canon</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>

    <!--<a href="/books">Books</a>
    <p>Lorem ipsum dolor sit Quis nostrud exercitation, adipiscing elit, sed do eiusmod.</p>

    <a href="/vinyls">Vinyls</a>
    <p>Lorem ipsum dolor amet, consectetur adipiscing elit, sed do eiusmod.</p>

    <hr>-->

    <hr>

    <a href="/support" class="support-link">Support</a>
    <p>Here you can support me so I can spend more time on meaningful stuff!</p>

    <a href="/guestbook">Guestbook</a>
    <p>Another retro web classic.</p>

    <a href="/chat">Chat</a>
    <p>My favorite retro web feature! Live chat with anyone as bored as you.</p>

    <hr>

    <a href="/colophon">Colophon</a>
    <p>Here you when I go to bed so I can spend more time on meaningful.</p>
</nav>