{{ define "main" }}
<header class="portfolio-header">

  <div class="portfolio-header-left">
    <a href=""><i>Home</i></a>
  </div>

  <div class="portfolio-header-middle">
    {{ with site.GetPage "home.md" }}
      {{ partial "content-parsed.html" . }}
    {{ end }}
  </div>

  <div class="portfolio-header-right">
    <a href="">Itch.io</a>
    <a href="">GitHub</a>
  </div>

</header>

<section class="portfolio">
  {{ $pages := where site.RegularPages "Section" "projects" }}
  {{ $pages = sort $pages "Params.opened" "desc" }}

  <div class="portfolio-grid-big">
  {{ range first 2 $pages }}

    {{ $image := "" }}
    {{ if index .Params "feature-image" }}
      {{ $image = index .Params "feature-image" }}
    {{ else if .Params.image }}
      {{ $image = .Params.image }}
    {{ else }}
      {{ $image = "/images/test/test.jpg" }}
    {{ end }}

    <div class="portfolio-item-big">
      <a href="{{ .RelPermalink }}">
        <div class="thumb">
          <img src="{{ $image }}" alt="{{ .Title }}">
        </div>
      </a>
    </div>

  {{ end }}
  </div>

  <div class="portfolio-grid-small">
  {{ range first 3 $pages }}

    {{ $image := "" }}
    {{ if index .Params "thumb-image" }}
      {{ $image = index .Params "thumb-image" }}
    {{ else if .Params.image }}
      {{ $image = .Params.image }}
    {{ else }}
      {{ $image = "/images/test/test.jpg" }}
    {{ end }}

    <div class="portfolio-item-small">
      <a href="{{ .RelPermalink }}">
        <div class="thumb">
          <img src="{{ $image }}" alt="{{ .Title }}">
        </div>
      </a>
    </div>

  {{ end }}
  </div>

</section>

<footer>
  <p>Check this shit out:</p><br>
  <a href="">Itch.io</a>
  <a href="">GitHub</a>
  <a href="">YouTube</a>
  <a href="">Twitter/X</a>
</footer>


{{ end }}
