{{ define "main" }}

<!--<header class="grid-layout-biased">

  <div class="header-left">
    <i>Paul's Home Page</i>
  </div>

  <div class="header-middle"></div>

  <div class="header-right">
    <a href="/sitemap"><i>Sitemap</i></a>
  </div>

</header>-->

<section class="home">

  <div class="home-image-row">
    <img src="standalone/home-1.jpeg">
    <img src="standalone/home-2.jpeg">
    <img src="standalone/home-4.jpeg">
    <img src="standalone/home-5.jpeg">
    <img src="standalone/home-6.jpeg">
    <img src="standalone/home-3.jpeg">
    <img src="standalone/home-7.jpeg">
    <img src="standalone/home-8.jpeg">
    <img src="standalone/home-9.jpeg">
    <img src="standalone/home-10.jpeg">
    <img src="standalone/home-11.jpeg">
    <img src="standalone/home-12.jpeg">
    <img src="standalone/home-17.jpeg">
    <img src="standalone/home-18.jpeg">
    <img src="standalone/home-19.jpeg">
    <img src="standalone/home-13.jpeg">
    <img src="standalone/home-14.jpeg">
    <img src="standalone/home-15.jpeg">
    <img src="standalone/home-16.jpeg">
  </div>

  <script src="/js/home-scroll.js"></script>

</section>

{{ end }}
