{{ define "main" }}
<header class="portfolio-header">

  <div class="portfolio-header-left">
    <a href=""><i>Home</i></a>
  </div>

  <div class="portfolio-header-middle">
    {{ partial "content-parsed.html" . }}
  </div>

  <div class="portfolio-header-right">
    <a href="" target="_blank" rel="noopener noreferrer" class="external">Itch.io</a>
    <a href="" target="_blank" rel="noopener noreferrer" class="external">GitHub</a>
  </div>

</header>

<section class="portfolio">
  {{ $pages := where site.RegularPages "Section" "portfolio" }}

  <div class="portfolio-grid-big">
  {{ $selected := slice "Internal Review" "JetQuest" }}
  {{ $filtered := where $pages ".Params.title" "in" $selected }}

  {{ range $filtered }}

    {{ $image := "" }}
    {{ if index .Params "feature-image" }}
      {{ $image = index .Params "feature-image" }}
    {{ else if .Params.image }}
      {{ $image = .Params.image }}
    {{ else }}
      {{ $image = "/images/test/test.jpg" }}
    {{ end }}

    <div class="portfolio-item-big">
      <a href="{{ .RelPermalink }}">
        <div class="thumb">
          <img src="{{ $image }}" alt="{{ .Title }}">
        </div>
      </a>
    </div>

  {{ end }}
  </div>

  <div class="portfolio-grid-small">
  {{ $selected := slice "Last Block Standing" "Flat Frenzy" "Minor Illusion" }}
  {{ $filtered := where $pages ".Params.title" "in" $selected }}

  {{ range $filtered }}

    {{ $image := "" }}
    {{ if index .Params "thumb-image" }}
      {{ $image = index .Params "thumb-image" }}
    {{ else if .Params.image }}
      {{ $image = .Params.image }}
    {{ else }}
      {{ $image = "/images/test/test.jpg" }}
    {{ end }}

    <div class="portfolio-item-small">
      <a href="{{ .RelPermalink }}">
        <div class="thumb">
          <img src="{{ $image }}" alt="{{ .Title }}">
        </div>
      </a>
    </div>

  {{ end }}
  </div>

  <div class="portfolio-bottom">
    <p>Check this shit out:</p><br>
    <a href="https://www.paulhofmann.dev/">Itch.io</a>
    <a href="https://www.paulhofmann.dev/">GitHub</a>
    <a href="https://www.paulhofmann.dev/">YouTube</a>
    <a href="https://www.paulhofmann.dev/">Twitter/X</a>
  </div>

</section>


{{ end }}
