{{ define "main" }}

<header class="grid-layout-centered">

  <div class="header-left">
    <a href=".."><i>Portfolio</i></a>
  </div>

  <div class="header-right">
    {{ partial "links/link-email.html" }}
    {{ partial "links/link-linkedin.html" }}
  </div>

</header>

<div class="grid-layout-centered">

  <article class="single-narrow">

    {{ if .Content }}
        {{ partial "content-parsed.html" . }}
    {{ end }}

  </article>

  <aside class="backlinks">
    <hr>
    <h2>Backlinks:</h2>
    <a href="">This is a link</a> <i>(02 Jan 2026)</i><br>
    <a href="">And another link to a related project</a> <i>(14 Jan 2020)</i><br>
    <a href="">Some other project that is</a> <i>(12 Jan 2002)</i><br>
    <a href="">I don't know</a> <i>(03 Jan 2023)</i><br>
    <a href="">This is a link</a> <i>(31 Jan 2018)</i><br>
  </aside>

</div>

{{ end }}
