<aside class="col right">
  {{ $section := .Section }}

  {{ partial "headers/header-right.html" }}

  <!--{{ partial "misc/cv.html" . }}-->
  {{ partial "misc/grouped-index.html" (dict
    "section" "projects"
    "type" ""
    "groupBy" "year"
    "Site" .Site "Params" .Params)
  }}

  <!--
  {{ with site.GetPage "sidebar-right.md" }}
      <div>{{ partial "content-parsed.html" . }}</div>
  {{ end }}
  -->

  <!--
  {{ if .IsHome }}
    {{ partial "misc/listing-recent.html" . }}
  
  {{ else if not .IsSection }}

    {{ if or (eq $section "projects") (eq $section "posts") }}
      {{ partial "misc/listing-toc.html" . }}

      {{ if eq $section "posts" }}
        <div class="listings-divider"></div>
        {{ partial "misc/listing-backlinks.html" . }}
      {{ end }}

    {{ else if eq $section "notes" }}
      {{ partial "misc/listing-backlinks.html" . }}
    {{ end }}

  {{ else }}
    {{ partial "misc/grouped-index.html" (dict "section" .Section "groupBy" "year" "Site" .Site) }}
  {{ end }}
  -->

</aside>
