{{ $current := lower .Params.title }}
{{ $backlinks := slice }}

{{ range site.RegularPages }}
  {{ if ne .Permalink $.Permalink }}

    {{ $links := partial "extract-wikilinks.html" (dict
      "content" .RawContent
      "kind" "wikilink"
    ) }}

    {{ $has := false }}

    {{ range $links }}
      {{ if eq (lower .target) $current }}
        {{ $has = true }}
        {{ break }}
      {{ end }}
    {{ end }}

    {{ if $has }}
      {{ $backlinks = $backlinks | append . }}
    {{ end }}

  {{ end }}
{{ end }}

{{ if gt (len $backlinks) 0 }}
  <aside class="backlinks">
    <!-- <hr> -->
    <h2>Backlinks:</h2>
    <ul>
      {{ range sort $backlinks "Params.created" "desc" }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>

          {{ with time .Params.created }}
            <i>({{ .Format "02 Jan 2006" }})</i>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  </aside>
{{ else }}
  <aside class="backlinks">
    <!-- <hr> -->
    <h2><i>No Backlinks</i></h2>
  </aside>
{{ end }}