:root {
  /* Color options */
  --bg-bright: white;
  --bg-dark: black;
  --bg-blue: #012fa7;
  --bg-pink: #dedaff;
  --bg-green: #adf0c7;
  --text-on-dark-and-blue: white;
  --text-on-bright: black;
  --text-on-pink-and-green: #012fa7;
  --link-on-dark: #abc8ff;
  --link-on-bright: blue; /*#012fa7;*/
  --link-on-blue: #fff6b6;
  --link-on-pink: #7342dd;
  --link-on-green: #6631d7;
  --text-footer: #727272;
  --dividers: black;
  /* Font & text options */
  --font-size: 16px;
  --line-height: normal;
  --indentation: 2rem; /* For lists, blockquotes, etc. */
  /* Layout options */
  --margin-top: 1.5rem;
  --margin-bottom: 1rem;
  --margin-sides: 2rem;
  /* Other options */
  --img-radius: 0px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  min-height: calc(100vh - var(--margin-top) - var(--margin-bottom));
  display: flex;
  flex-direction: column;
  scrollbar-gutter: stable; /* Prevents layout shift when scrollbar appears */
}
body {
  background-color: var(--bg-bright);
  font-family: 'Times New Roman', Times, serif;
  font-size: var(--font-size);
  color: var(--text-on-bright);
  line-height: var(--line-height);
  
  margin-left: var(--margin-sides);
  margin-right: var(--margin-sides);
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
}

main {
  flex: 1;
}
.page {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.grid-layout-biased {
  display: grid;
  grid-template-columns: 2fr 5fr 5fr;
}
.grid-layout-centered {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
}

/* GENERAL ---------------------------------------------------------------------------------------------------------------------------- */

/* Header */
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding-top: var(--margin-top);
  padding-left: var(--margin-sides);
  padding-right: var(--margin-sides);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-left {
  grid-column: 1;
  height: fit-content;
}
.header-left > a::before {
  content: "↜ ";
  line-height: 0;
}
.header-middle {
  grid-column: 2;
  height: fit-content;
}
.header-middle > p {
  text-indent: var(--indentation);
}
.header-right {
  grid-column: 3;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.5rem;
}

/* Footer */
footer {
  /*border-top: 1px solid color-mix(in srgb, var(--dividers) 30%, transparent);*/
  /*border-bottom: 1px solid color-mix(in srgb, var(--dividers) 20%, transparent);*/
  padding-top: 0.5rem;
  margin-top: 1rem;
  vertical-align: middle;
  color: var(--text-on-bright);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer > div:first-of-type {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
footer > div:last-of-type {
  opacity: 60%;
  color: var(--text-on-bright);
}
footer > div:last-of-type > a {
  color: var(--text-on-bright);
}

/* Content */
h1 {
  text-align: left;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-top: 0.8rem;
  margin-bottom: 1.4rem;
}
h2 {
  margin-top: 0.8rem;
  margin-bottom: 0.6rem;
}

p {
  margin-bottom: 1lh;
}
p:last-child {
  margin-bottom: 0;
}

blockquote {
  padding-left: 4ch;
  padding-right: 4ch;
  margin-bottom: 1lh;
  border-left: 1px solid color-mix(in srgb, var(--dividers) 25%, transparent);
  opacity: 90%;
}

ul, ol { /* Lists */
  list-style-position: outside;  /* Bullet/number outside, text aligns with grid */
  padding-left: var(--indentation);  /* Indent by multiple of character widths */
  margin-bottom: 1lh;
}
ul:last-child, ol:last-child {
  margin-bottom: 0;
}
/*
li {
  text-indent: 0; / No extra indent on wrapped lines /
  margin-bottom: 0.5lh; / Space between list items /
}*/
li ul, li ol { /* Nested lists */
  /*margin-top: 0.5lh;
  margin-bottom: 0;*/
  list-style: disc;
}

a {
  color: var(--link-on-bright);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  opacity: 1;
}
/*a:hover {
  color: var(--link-hover);
}
a.wikilink {
  color: var(--link-hover);
}  
*/
a.wikilink-missing {
  text-decoration: underline dotted 1px;
  opacity: 0.7;
}
/*a.external::after {
  content: " ↗";
}*/

/* Misc. */
section {
  width: 100%;
}

hr {
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 1lh;
  opacity: 60%;
}

embed {
  width: 100%;
  height: 800px;
}

/* CUSTOM ELEMENTS -------------------------------------------------------------------------------------------------------------------- */

.sitemap {
  margin-top: 2lh;
}
.sitemap > a {
  margin-left: 0;
}
.sitemap > p {
  margin-left: var(--indentation);
  margin-bottom: 0;
}
.sitemap > h2 {
  font-size: var(--font-size);
  font-weight: normal;
  font-style: italic;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.sitemap > hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 35%;
}

.frontmatter {
  display: flex;
  flex-direction: column;
  opacity: 90%;
}

/*
.backlinks {
  display: none;
  grid-column: 2;
  margin-top: 2lh;
  padding-left: 0;
  padding-right: 0;
}
.backlinks > h2 {
  font-size: var(--font-size);
  font-weight: normal;
  margin-bottom: 0.5rem;
}
/.backlinks > ul, ol {
  margin-left: 0;
}/
*/

.feed {
  grid-column: 2;
}
.feed > ul {
  padding-left: 0;
}
.feed > ul > li {
  list-style: none;
}

/* HOME ------------------------------------------------------------------------------------------------------------------------------- */

.home {
  grid-column: 2;
  margin-bottom: 6rem;
}

.home-image-row {
  display: flex;
  gap: 1.5rem;
}
.home-image {
  width: 180px;
}

/* PORTFOLIO -------------------------------------------------------------------------------------------------------------------------- */

.portfolio {
  max-width: 100%;
  margin-top: calc(7lh + 2rem);
}

/* Grid */
.portfolio-grid-big,
.portfolio-grid-small {
  display: grid;
  gap: 2rem;
  max-width: 100%;
  min-width: 0;
}
.portfolio-grid-big {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-bottom: 2rem;
}
.portfolio-grid-small {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 2rem;
}
.portfolio-item-big,
.portfolio-item-small {
  width: 100%;
  min-width: 0;
  margin: 0;
}
.thumb {
  position: relative;
  overflow: hidden;
  background-color: #f0f0f0; /* Placeholder background */
  width: 100%;
}
.portfolio-item-big .thumb img {
  aspect-ratio: 1140 / 750;
}
.portfolio-item-small .thumb img {
  aspect-ratio: 630 / 500;
}
.thumb img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0; /* Remove default margin */
  object-fit: cover; /* Cover the entire area */
  object-position: center; /* Center the image */
}

/* Bottom/links */
.portfolio-links {
  display: flex;
  flex-direction: row;
  margin-top: 2lh;
  margin-bottom: 1lh;
}
.portfolio-links > a {
  margin-right: 2rem;
}

/* LIST NARROW (FEED) ----------------------------------------------------------------------------------------------------------------- */

.list-narrow {
  grid-column: 2;
  padding-left: var(--margin-sides);
  padding-right: var(--margin-sides);
}

/* SINGLE NARROW ---------------------------------------------------------------------------------------------------------------------- */

.single-narrow {
  grid-column: 2;
  padding-left: var(--margin-sides);
  padding-right: var(--margin-sides);
}
.single-narrow > p > img, video {
  width: 100%;
}

/* STANDALONE (LIST/SINGLE) ----------------------------------------------------------------------------------------------------------- */

.standalone-wide {
  margin-top: 3rem;
}
.standalone-wide > h1 {
  font-size: 2em;
}

.standalone-narrow {
  grid-column: 2;
}