<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ .Site.Title }}</title>
  <link rel="icon" type="image/png" href="/assets/favicon.png"/>
  <link rel="apple-touch-icon" href="/assets/favicon.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="stylesheet" href="/css/shared.css" />
  <link rel="stylesheet" href="/css/custom-smallweb.css" />

  {{ partial "latex-parser.html" . }}
</head>

{{ $color := "" }}

{{ if eq .Section "gallery" }}
  {{ $color = "pink" }}
{{ else if eq .RelPermalink "/canon/" }}
  {{ $color = "pink" }}
{{ else if eq .RelPermalink "/colophon/" }}
  {{ $color = "green" }}
{{ end }}

<body class="{{ $color }}">

  <main class="page">
    {{ block "main" . }}
      {{ .Content }}
    {{ end }}
  </main>

  {{ partial "footer.html" . }}

</body>
</html>
