{{ define "main" }}

<header class="grid-layout-centered">

  <div class="header-left">
    <a href="../.."><i>↜ Home</i></a>
  </div>

  <div class="header-right">
    {{ partial "links/link-itch.html" }}
    {{ partial "links/link-github.html" }}
  </div>

</header>

<div class="grid-layout-centered">

  <section class="list-narrow">

    <h1>{{.Title}}</h1>

    <p>Hey, I'm Paul! I'm a game developer and programmer with a background in media technology and AI, creating polished games with atmosphere and inventive core mechanics. Currently based in Lund, Sweden. Temporibus et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias. Rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias.</p>

    {{ if .Content }}
        {{ partial "content-parsed.html" . }}
    {{ end }}

  </section>

  {{ partial "feed.html" . }}

</div>

{{ end }}