<div class="cv">
    <div class="twocol">
        <p class="twocol-left">
            Work Experience
        </p>
        <p class="twocol-right">
            Student Internship in Computer Vision<br>
            <a href="https://www.ipk.fraunhofer.de/en.html">Fraunhofer Institute for Production Systems and Design Technology ↗</a>, Germany<br>
            2023 - 2024<br>
        </p>
    </div>

    <div class="twocol">
        <p class="twocol-left">
            Education
        </p>
        <p class="twocol-right">
            Certificate in Indie Games Development<br>
            <a href="https://nfts.co.uk/indie-games-development">National Film and Television School ↗</a>, UK (Remote)<br>
            2025<br>
            <br>
            Bachelor of Science in Media Technology<br>
            <a href="https://www.haw-hamburg.de/en/bachelor-media-technology/">Hamburg University of Applied Sciences ↗</a>, Germany<br>
            2018 - 2024
        </p>
    </div>

    <div class="twocol">
        <p class="twocol-left">
            Skills
        </p>
        <p class="twocol-right">
            C#, Python, JavaScript / HTML / CSS<br>
            Unity, Blender, Git<br>
        </p>
    </div>

    <div class="twocol">
        <p class="twocol-left">
            Passions
        </p>
        <p class="twocol-right">
            Learning with Obsidian<br>
            Discovering new music<br>
            Recently: <i>Magic: The Gathering</i>
        </p>
    </div>
    
</div>