{{- $section := .section | default "projects" -}}
{{- $type := .type -}}
{{- $groupBy := .groupBy | default "year" -}}

{{- $pages := where .Site.RegularPages "Section" $section -}}

{{- if $type -}}
  {{- $pages = where $pages "Params.project-type" "intersect" (slice $type) -}}
{{- end -}}

{{- $groups := slice -}}
{{- range $pages }}
  {{- $value := .Param $groupBy -}}
  {{- if and $value (not (in $groups $value)) -}}
    {{- $groups = $groups | append $value -}}
  {{- end -}}
{{- end -}}
{{- $groups = sort $groups -}}

{{ $reversed := slice }}
{{ $lastIndex := sub (len $groups) 1 }}
{{ range $i, $_ := $groups }}
  {{ $reversed = $reversed | append (index $groups (sub $lastIndex $i)) }}
{{ end }}
{{ $groups = $reversed }}

<div class="grouped-index">
  <!--<h1 class="solo-heading">All projects</h1>-->
  {{- range $group := $groups }}
    <!--<details>
      <summary>{{ $group }}</summary>
      <ul>
        {{- range where $pages (printf "Params.%s" $groupBy) $group }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{- end }}
      </ul>
    </details>-->
    <div class="twocol">
      <p class="twocol-left">
        {{ $group }}
      </p>
      <p class="twocol-right">
        {{- range where $pages (printf "Params.%s" $groupBy) $group }}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a><br>
        {{- end }}
      </p>
    </div>
  {{- end }}
</div>
