{{- $posts := where .Site.RegularPages "Section" "posts" }}
{{- $notes := where .Site.RegularPages "Section" "notes" }}

{{ if $posts }}
  <h1 class="solo-heading">Recent posts</h1>
  <ul class="listings-items">
    {{ range first 3 $posts }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
  {{ if $notes }}
    <div class="listings-divider"></div>
  {{ end }}
{{ end }}

{{ if $notes }}
  <h1 class="solo-heading">Recent notes</h1>
  </div>
  <ul class="listings-items">
    {{ range first 10 $notes }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
{{ end }}