{{ $type := .Get "type" | default "game, game-design" }}
{{ $limit := .Get "limit" | default 9999 }}
{{ $titles := .Get "titles" | default "false" }}

{{ if eq $titles "false" }}
  {{ $titles = false }}
{{ else }}
  {{ $titles = true }}
{{ end }}

<div class="portfolio-grid">
  {{ $pages := where site.RegularPages "Section" "projects" }}

  {{ with $type }}
    {{ $typeList := split (replace . " " "") "," }}
    {{ $pages = where $pages "Params.project-type" "intersect" $typeList }}
  {{ end }}

  {{ $pages = sort $pages "Params.opened" "desc" }}

  {{ range first $limit $pages }}
    {{ if eq .Section "projects" }}

      {{ $image := "" }}
      {{ if index .Params "thumb-image" }}
        {{ $image = index .Params "thumb-image" }}
      {{ else if .Params.image }}
        {{ $image = .Params.image }}
      {{ else }}
        {{ $image = "/images/test/test.jpg" }}
      {{ end }}

      <div class="portfolio-item">
        <a href="{{ .RelPermalink }}">
          <div class="thumb">
            <img src="{{ $image }}" alt="{{ .Title }}">
          </div>
          {{ if $titles }}
            <div class="title">{{ .Title }}</div>
          {{ end }}
        </a>
      </div>
    {{ end }}
  {{ end }}
</div>
