{{- $content := .Content -}}
{{- $out := $content -}}

<!-- Image Wikilinks -->
{{ range partial "extract-wikilinks.html" (dict
    "content" $out
    "type" "image") }}
  {{ $replacement := printf `<img src="/attachments/%s" />` .file }}
  {{ $out = replace $out .match $replacement }}
{{ end }}

<!-- Video Wikilinks -->
{{ range partial "extract-wikilinks.html" (dict
    "content" $out
    "type" "video") }}
  {{ $replacement := printf `<video autoplay loop muted playsinline><source src="/attachments/%s" />` .file }}
  {{ $out = replace $out .match $replacement }}
{{ end }}

<!-- PDF Wikilinks -->
{{ range partial "extract-wikilinks.html" (dict
    "content" $out
    "type" "pdf") }}
  {{ $replacement := printf `<embed src="/attachments/%s" type="application/pdf" />` .file }}
  {{ $out = replace $out .match $replacement }}
{{ end }}

<!-- Regular Wikilinks -->
{{ range partial "extract-wikilinks.html" (dict
    "content" $out
    "type" "wikilink") }}
  {{ $target := .target }}
  {{ $alias := .alias }}
  {{ $text := cond (ne $alias "") $alias $target }}

  {{ $normalizedTarget := lower (plainify $target) }}
  {{ $page := "" }}
  {{ range site.RegularPages }}
    {{ if eq (lower (plainify .Title)) $normalizedTarget }}
      {{ $page = . }}
    {{ end }}
  {{ end }}

  {{ if $page }}
    {{ $link := printf `<a href="%s" class="wikilink">%s</a>` $page.RelPermalink $text }}
    {{ $out = replace $out .match $link }}
  {{ else }}
    {{ $link := printf `<a class="wikilink-missing" href="#">%s</a>` $text }}
    {{ $out = replace $out .match $link }}
  {{ end }}
{{ end }}

<!-- Highlighted ==Text== (or links/wikilinks/etc.) -->
{{ range findRE `==(.+?)==` $out }}
  {{ $match := . }}
  {{ $inner := replaceRE `^==|==$` "" $match }}
  {{ $out = replace $out $match (printf `<mark>%s</mark>` $inner) }}
{{ end }}

<!-- Fix spaces between links and punctuation directly after -->
{{ $out = replaceRE `</a>\s+([,.;:!?)])` "</a>$1" $out }}
<!-- Fix spaces between links and opening paranthesis directly before -->
{{ $out = replaceRE `\(\s+<a` "(<a" $out }}

{{ $out | safeHTML }}